body {margin: 0px;
        padding: 0px;
        font-size: 20px;
        font-family: cursive;
        background-color: white;}
header {background-color:#243fc1;
        color: white;
        border-bottom: 3.5px solid #152679;
        line-height: 1.8cm;}
.left {display: inline-block;
        position: absolute;
        top: 0px;
        left: 20px;}

.middle {display: block;
        margin: 0px auto;
        width: 30%;}

.right {display: inline-block;
        position: absolute;
        top: -8px;
        right: 20px;}
ul {margin: 0px;
        padding: 0px;}
li {display: inline-block;
        padding: 0px 14px;}
a {text-decoration: none;
        color: white;}
a:hover {color: #e9e1ff;}
.logo {height: 65px;}
#logo {top: 0px;
        left: 16px;}
#left {top: 0px;
        left: 96px;}
.btn {border: none;;
        background-color: #243fc1;
        color: white;
        height: 68px;
        margin: 8px 0px;
        font-size: 20px;
        font-family: cursive;
        cursor: pointer;}

#btn {width: 130px;}
#btn2 {width: 100px;}

.btn:hover {background-color: white;
        color: #243fc1;
        border-top: 2.3px solid #243fc1;
        border-bottom: 2.3px solid #243fc1;
        transition: 0.5s;}

#bgimg {overflow: hidden;
        width: 320px;
        border: 3px solid #152673;
        border-radius: 14px;}
#divimg {display: inline;
        position: fixed;
        top: 520px;
        overflow:hidden;
        right: 20px;}

#bgimg2 {overflow: hidden;
        width: 1200px;}
#divimg2 {display: inline;
        position: fixed;
        top: 70px;
        overflow:hidden;
        right: -120px;
        border-left: 3.5px solid #152679;}

#bgimg3 {overflow: hidden;
        width: 370px;
        border: 3px solid #152679;
        border-radius: 14px;}
#divimg3 {display: inline;
        position: fixed;
        top: 105px;
        overflow:hidden;
        right: 655px;}

#details {display: inline-block;
        position: absolute;
        padding: 0px 20px;
        padding-bottom: 5px;
        width: 360px;
        top: 100px;
        left: 24px;
        font-family: 'Barlow', sans-serif;
        font-weight: bold;
        font-size: 16px;
        border: 3px solid #243fc1;
        border-radius: 10px;
        background-color: #243fc1;}

input {display: block;
        margin-top: 10px;
        height: 35px;
        width: 320px;
        background-color:white;
        border-radius: 10px;
        color: #243fc1;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        text-align: center;
        padding: 0px;
        line-height: 0px;
        font-weight: bold;
        box-sizing: border-box;
        outline: none;}

input:focus {background-color:rgb(224, 224, 255);
                border-radius: 10px;
                border: 2px solid #152679;
                outline: none;}

::placeholder {color: white;
        font-size: 15px;
        text-transform: uppercase;}

.logindet {margin: 25px 10px;
        text-transform: uppercase;
        color: white;
        text-align: center;}

#subbtn {border: none;
        background-color: white;
        border: 2px solid #243fc1;
        color:#243fc1;
        height: 45px;
        width: 200px;
        margin: 8px 0px;
        font-size: 20px;
        font-family: cursive;
        cursor: pointer;
        font-family: 'Barlow', sans-serif;
        text-transform: uppercase;
        border-radius: 10px;
        font-weight: bold;}

#subbtn:hover {background-color: #243fc1;
        color: white;
        transition: 0.5s;}

.submitbtn {display: inline-block;
        position: absolute;
        bottom: 155px;
        left: 126px;}